body {
  background-color: wheat;
}
.subtitle {
  color: red;
}
#contact-us {
  color: blue;
}

.subtitleA {
  color: brown;
}

#about-me {
  color: blue;
}

/* pseudocode */

h2:hover {
    color: green;
  }

/*li:only-child{
    color: cadetblue;
}*/

td:only-child{
    color: blueviolet;
}

.link:link{
    color: blueviolet;
}
.link:visited{
    color: red;
}

/* Advanced selector */

/* anchor tag followed by h2 or vice verca will be red no matter if they have same parent or not */

h2 + a{
    color: red;
}

/* button tag followed by textarea but they should be in same parent */

textarea ~ button{
    color: purple;
}

ul>li{
    color: blue;
}

ul li{
    color: green;
}

/* attribute-value selector --> this value exactly*/

p[class=para-text]{
    color: orange;
}

/* attribute|= value selector --> value should be exactly like this and followed by hyphen*/

p[class|=para]{
    color: blueviolet;
}

/* attribute~= value selector --> if contain value should be specified  */

p[class~=text]{
    color: aquamarine;
}

/* start with this tag */

img[src^="img/"]{
  border: 10px solid black;
}

/* Ends with this tag */
img[src$="img/"]{
    border: 10px solid black;
}

/* Value should be in between */
img[src*="img/"]{
  border: 10px solid black;
}

